[name="Header"] {
  height: 50px;
  background: #0001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  .left, .right {
    display: flex;
    align-items: center;
    & > * + * {
      margin-left: 15px;
    }
  }
}